<tr>
    <td>{{this.name}}</td>
    <td>{{this.age}}</td>
    <td>{{this.gender}}</td>
    <td><a href="/person/getperson/{{this.id}}"><button type="button" class="btn btn-warning">Update</button></a></td>
    <td><a href="/person/delete/{{this.id}}"><button type="button" class="btn btn-danger">Delete</button></a></td>
</tr>

