<tr>
    <td>{{this.name}}</td>
    <td>{{this.age}}</td>
    <td>{{this.gender}}</td>
    <td><a href="/person/update/{{this.id}}">Update</a></td>
    <td><a href="/person/delete/{{this.id}}">Excluir</a></td>
</tr>

