<div class="person">
  <h2 class="person-name">Nome: {{this.name}}</h2>
  <p class="person-age">Idade: {{this.age}}</p>
  <p class="person-gender">Gênero: {{this.gender}}</p>
  <a href="http://localhost:3000/person/delete/{{this._id}}">Deletar</a>
  <a href="http://localhost:3000/person/update/{{this._id}}">Atualizar</a>
</div>