<tr>
    <td>{{this.name}}</td>
    <td>{{this.age}}</td>
    <td>{{this.gender}}</td>
    <td><a href="/person/update/{{this._id}}">UPDATE</a></td>
    <td><a href="/person/delete/{{this._id}}">DELETE</a></td>
</tr>